/* Set basic layout */
body {
    text-align: center;
    background-color: bisque;
    color: midnightblue;
}

/* adust for the timer */
header {
    text-align: left;
}

/*does not work*/
header #countdown-number {
    font-size: 22px;
}

/*change font sizes as appropriate */
h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

li {
    text-align: left;
    font-size: 30px;
}

/*adjust visibility */
.visible {
    display:contents;
}

.hidden {
    display: none;
}

.show-question {
    display: list-item;
}

form li {
    display: none;
}

/* #score-scn {
    display: none;
}*/

/*#high-scores {
    display: none;
}*/